In [1]:
#08/09/2020


#set-> same as mathematic definition.
#a set is a collection of items not in any  particular order
#element in the set cannot be duplicated
#immutablebut the set as whole is mutable
#no index attached to any element
#do not support any indexing or slicing
#property--->>>>unordered & unindexing

In [2]:
# set operation
# mathematic operation -> union, intersection, difference & complement etc.
#{}
# create a set, access it's element & carry ut some ------incomplete
# slicing is not possible

In [7]:
# creating a set
#by using set([]) function or {}
#unodered.
day=set(["mon","tue","wed","thur","fri","sat","sun"])
print(day)
month={"jan","feb","mar"}
print(month)
date={1,2,3,4,5,6}
print(date)

{'fri', 'tue', 'thur', 'mon', 'sat', 'wed', 'sun'}
{'jan', 'mar', 'feb'}
{1, 2, 3, 4, 5, 6}

In [9]:
#accessing value in set
for d in day:
    print(d)

fri
tue
thur
mon
sat
wed
sun

In [11]:
#check "banana" is in the set or not
fruit={"grapes","banana","apple"}
print("gova" in fruit)
#cann't change the item

False

In [14]:
#adding an element
month={"jan","feb","mar"}
month.add("apr")
print(month)
fruit={"grapes","banana","apple"}
fruit.add("mango")
print(fruit)

{'jan', 'mar', 'feb', 'apr'}
{'grapes', 'banana', 'apple', 'mango'}

In [17]:
# add multiple items to a set, using the update() method
fruit={"grapes","banana","apple"}
fruit.update(["mango","cherry","pineapple"])
print(fruit)

{'banana', 'grapes', 'apple', 'cherry', 'mango', 'pineapple'}

In [24]:
#remove()method
fruit={"grapes","banana","apple"}
fruit.remove("banana")
print(fruit)

{'grapes', 'apple'}

In [2]:
#pop->remove last item
#drawback-> set is unordered so we can't find which one is last element. so pop will remove at last of the set
fruit={"apple","banana","cherry"}
print(fruit.pop())
print(fruit)

apple
{'banana', 'cherry'}

In [4]:
#09/09/2020

fruit={"apple","banana","cherry"}
fruit.clear()#element only will be clear
print(fruit)
fruit={"apple","banana","cherry"}
del fruit #totally delete 
print(fruit)

set()

NameError: name 'fruit' is not defined

In [9]:
# join two set
#1.union ()method -> set containing all the distinct elements from both the sets
#2.update method-> inserts all the items from one set into another

set1={"a","b","c"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)
dayA=set(["mon","tue","wed"])
dayB={"wed","thu","fri","sat","sun"}
alldays=dayA|dayB  # any common element is there then it will consider 1 time only
print(alldays)
alldays=dayA & dayB #common element
print(alldays)
#different -> ingnore 2nd set common element and 1st set common elemnt remove
alldays=dayA-dayB
print(alldays)
alldays=dayB-dayA
print(alldays)

{1, 2, 3, 'b', 'a', 'c'}
{'tue', 'wed', 'sun', 'thu', 'sat', 'mon', 'fri'}
{'wed'}
{'mon', 'tue'}
{'sun', 'thu', 'fri', 'sat'}

In [10]:
#compare set-> set is a subset or superset of another set.
dayA=set(["mon","tue","wed"])
dayB={"mon","tue","wed","thu","fri","sat","sun"}
subsetR=dayA<=dayB
supersetR=dayB>=dayA
print(subsetR,supersetR)

True True

In [19]:
a={1,2,3,4,5}
b={4,5,6,7,8,9,10}
print(a.union(b))#union
print(a|b)#union
print(a&b)#interset
print(a-b)#difference
print(b<=a)#compare
print(b>=a)#compare

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{4, 5}
{1, 2, 3}
False
False